<h1>Shopping Cart</h1>
<center><table>
	<%= render(@cart.line_items) %>
	<tr class="products_text">
		<td colspan="2"><h4>Total</h4></td>
		<td class="total_cell"><h4><%= quid(@cart.total_price) %></h4></td>
	</tr>
</table></center>
<div class="cart_button">
	<%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-success" %>
</div>
<div class="cart_button">
	<%= button_to 'Empty cart', @cart, method: :delete,
	data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>	
</div>

<div class="cart_button">
	<%= button_to 'Back to store', store_index_url, method: :get, class: "btn btn-warning"  %>	
</div>