<% provide(:title, 'Players') %>
<% @players.each do |player| %>

<table class="table table-hover">
	<tbody>
		<tr>
		<% if player.id == 1 %>
			<p style="float:right"> <%= image_tag("/dimitrov.png") %> </p>
		<% elsif player.id == 2 %>
			<p style="float:right"> <%= image_tag("/zverev.png") %> </p>
		<% elsif player.id == 3 %>
			<p style="float:right"> <%= image_tag("/thiem.png") %> </p>
		<% elsif player.id == 4 %>
			<p style="float:right"> <%= image_tag("/goffin.png") %> </p>
		<% elsif player.id == 5 %>
			<p style="float:right"> <%= image_tag("/sock.png") %> </p>
		<% elsif player.id == 6 %>
			<p style="float:right"> <%= image_tag("/pouille.png") %> </p>
		<% elsif player.id == 7 %>
			<p style="float:right"> <%= image_tag("/carreno-busta.png") %> </p>
		<% elsif player.id == 8 %>
			<p style="float:right"> <%= image_tag("/schwartzman.png") %> </p>
		<% elsif player.id == 9 %>
			<p style="float:right"> <%= image_tag("/kyrgios.png") %> </p>
		<% else player.id == 10 %>
			<p style="float:right"> <%= image_tag("/raonic.png") %> </p>	
		<% end %>

	<ul style="list-style-type:none">
		<div class="players_text">
	 		<li><p> Name: <%= player.first_name %></p></li>
	 		<li><p> Surname: <%= player.last_name %> </p></li>
	 		<li><p> Date of birth: <%= player.dob %> </p></li>
	 		<li><p> Nationality: <%= player.nationality %></p></li>
	 		<li><p> Residence: <%= player.residence %></p></li>
	 		<li><p> Turned Pro: <%= player.turned_pro %></p></li>
	 		<li><p> Weight: <%= player.weight %></p></li>
	 		<li><p> Height: <%= player.height %></p></li>
	 		<li><p> Hand: <%= player.hand %></p></li>
	 		<li><p> Backhand: <%= player.backhand %></p></li>
	 		<li><p> Coach: <%= player.coach %></p></li>
	 	</div>
 	</ul>
 	
 	</tr>

<% end %>

	<div class="button">
		  <a href="/players" class="btn btn-danger" role="button">Search for another player</a>
	</div>

	</tbody>
</table>