<% provide(:title, 'Store') %>
<h1>Tennis Store</h1>
<%= will_paginate %>
<% cache @products do %>
	<% @products.each do |product| %>
		<% cache product do %>
				<div class="products_text">
					<hr />
					<h4><%= product.name %></h4>
					<%= sanitize(product.description) %><br><br>
					<h4><%= quid(product.price) %></h4>
					<div class="cart_button"><%= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn btn-danger" %><br>
					</div>
				</div>
		<% end %>
	<% end %>
<% end %>  	